<html>
    <head>
        <title>About</title>
    </head>
    <body bgcolor="#DBF9FC">
        <h2 align="center" ><u> ABOUT </u></h2>
        <p align="justify">This application aims at connecting the donors & the patients by an online application.By using this application,the user can either raise a request for plasma donation or requirement.
The system is used if anyone needs a plasma donor. In this system there is a something called an active user, which means the user is an active member of the app and has recovered from Covid 19,only such people are recommended here for plasma donation.both parties can accept or reject the request.
user has to upload a covid negative report to be able to donate plasma.  </p>
<h3>Eligibility Criteria :</h3>
<p><ul>
    <li>The ideal blood types for plasma donation are AB positive and AB negative.</li>
    <li>You can donate plasma every 28 days,no more than 13 times in a year.</li>
    <li>Tested Covid +ve in last 120 days.</li>
    <li>Women must not have conceived a child.</li>
    <li>Should not have received plasma themselves.</li>
    <li>Should be between 18-65 years.</li>
    <li>Should have recovered from multiple symptoms.</li>
    <li>Should weigh atleast 55 kgs.</li>
    <li>Should not have the Covid Vaccine.</li>
    <li>Should not have Thyroid.</li></p>
 <a href="https://tamil.news18.com/news/explainers/how-often-can-you-donate-plasma-esr-ghta-458717.html">For more details click here</a> <br>       
 <a href="https://www.statista.com/statistics/756229/number-of-annual-plasma-collections-in-the-us/">No.of annual blood plasma collections in the Us</a><br>
 <a href="https://www.medicalnewstoday.com/articles/319162#side-effects">Side effects and Risks</a>
    </body>
    
</html>