
<!DOCTYPE html>
<html>
<head>
    <title>Plasma donor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main">
            <div class="navbar">
                <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="login">LOGIN</a></li>
                        <li><a href="aboutme">CONTACT</a></li>
                    </ul>
                </div>
    
                <div class="search">
                    <input class="srch" type="search" name="" placeholder="Type To text">
                    <a href="#"> <button class="btn">Search</button></a>
                </div>
    
            </div> 
    </header>
    <div class="main">      

        
        <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="txt" placeholder="User name" required="">
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="pswd" placeholder="Password" required="">
                    <button>Sign up</button>
                </form>
            </div>

            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="pswd" placeholder="Password" required="">
                    <button>Login</button>
                </form>
            </div>
    </div>
</body>
</html>