@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* nav*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  .main{
      width: 100%;
      height: 150vh;
  }
  
  .navbar{
      width: 100%;
      /* overflow: hidden; */
      background-color: #0f0c29;
      /* position:fixed; */
      /* top:0; */
      height: 75px;
      margin: auto;
  }

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #302b62;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.nav-links{
  padding: 35px 0;
}
.nav-links li{
  display: inline-block;
  margin: 0 20px;
}
.nav-links li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  width: 100%;
  height: 800px !important;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} 



 
.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 150px;
    margin-top: 27px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:rgb(128, 150, 187);
}

.search{
    width: 330px;
    float: right;
    margin-left: 470px;
}

.srch{
    font-family: 'Times New Roman';
    width: 180px;
    height: 40px;
    background: transparent;
    border: 1px solid #302b62;
    margin-top: 15px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background:#302b62;
    border: 2px solid #302b62;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color:#000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}


::selection{
    color: #fff;
    background: #302b62;
  }
  .wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #302b62;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .row-1 section::before{
    right: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #302b62;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -60px;
  }
  .row section .details,
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title{
    font-size: 22px;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background:#302b62 ;
    color: #fff;
    padding: 7px 25px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(0.97);
  }
  @media(max-width: 790px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }
 
  footer{
    position:relative;
    bottom: 0px;
    width: 100%;
    background:linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  }
  .main-content{
    display: flex;
  }
  .main-content .leftbox{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .leftbox h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .leftbox .content2{
    margin: 20px 0 0 0;
    position: relative;
  }
  .centerbox .content-address:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
  }
  .centerbox .content-address:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    top: -10px;
  }
  .leftbox.content2 p{
    text-align: justify;
    
  }
  .leftbox .content2 .social{
    margin: 20px 0 0 0;
  }
  .leftbox .content2 .social a{
    padding: 0 15px;
  }
  .leftbox .content2.social a span{
    height: 40px;
    width: 40px;
    line-height: 20px;
    text-align: center;
    font-size: 100px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .centerbox .content-address .fas{
    font-size: 25px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    color:#fff;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .centerbox .content-address .fas:hover{
    color: aqua;
  }
  .centerbox .content-address .text{
    font-size: 10px;
    font-weight: 500;
    padding-left: 15px;
  }
  .centerbox .content-address .phone{
    margin: 15px 0;
  }
  .rightbox form .text{
    font-size: 10px;
    margin-bottom: 2px;
    color: #fff;
  }
  .rightbox form .msg{
    margin-top: 5px;
  }
  .rightbox form input, .rightbox form textarea{
    width: 100%;
    font-size: 15px;
    background: #fff;
    padding-left: 10px;
    border: 1px solid #fff;
  }
  .rightbox form input:focus,

  .rightbox form textarea:focus{
    outline-color: aqua;
  }
  .rightbox form input{
    height: 35px;
  }
  .rightbox form .btn{
    margin-top: 10px;
  }

 .leftbox .content2 .social .fab{
color:#fff;
  }

  .leftbox .content2 .social .fab:hover{
    color:aqua;
      }
  .rightbox form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background:#302b62;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .rightbox form .btn button:hover{
    background: #fff;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #fff;
  }
  .bottom center span{
    color:#000;
  }
  .bottom center span a{
    color: #302b62;
    text-decoration:none;
  }
  .bottom center span a:hover{
    text-decoration: underline;
    color:aqua;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .leftbox{
      margin: 5px 0;
    }
  }  